<Files ~ "^.*\.(LOG|log|back|bak|bk|lock|lck|LCK|txt|text|backup|pem|PEM|TXT)">
    Order allow,deny
    Deny from all
    Satisfy All
</Files>
<Files "config.php">
    Deny from all
</Files>
<Files "userfunctions.php">
    Deny from all
</Files>